<a href="https://colab.research.google.com/github/DivyaPrabha19/pytho/blob/main/divyaprabha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Develop a Python program that checks whether a given number is even or odd. Prompt the user to input a number, and then display a message indicating whether the number is even or odd.

In [ ]:
a=int(input("Enter a number:"))
if(a%2==0):
  print("The number is even")
else:
  print("The number is odd")

2. Write a Python program that calculates the sum of digits of a positive integer. Prompt the user to input a number, then display the sum of its digits.

In [ ]:
a=int(input("Enter a number:"))
sum=0
if a>0:
  for i in a:
    sum=sum+i
print("The sum of digits of positive integer: ",sum)
else:
  print("Enter a positive number")

3. Create a Python program that generates the Fibonacci series up to a specified number of terms. The Fibonacci series is a sequence of numbers where each number is the sum of the two preceding ones, starting from 0 and 1.

In [ ]:
n=int(input("Enter a number:"))
t1=0
t2=1
t3=t1+t2
print(t1,t2)
count=0
while count<n:
  print(t3)
  t1=t2
  t2=t3
  t3=t1+t2
  count+=1
print()

4. Write a Python program to calculate the factorial of a given number. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
num = int(input("Enter a non-negative integer: "))
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print("Factorial of", num, "is", factorial(num))

5. Develop a Python program that calculates the area of various shapes such as square, rectangle, circle, and triangle. Prompt the user to select a shape and then input the required dimensions. Display the calculated area.


```

In [ ]:
import math

def calculate_square_area(side):
    return side * side

def calculate_rectangle_area(length, width):
    return length * width

def calculate_circle_area(radius):
    return math.pi * radius * radius

def calculate_triangle_area(base, height):
    return 0.5 * base * height

print("Select a shape to calculate the area:")
print("1. Square")
print("2. Rectangle")
print("3. Circle")
print("4. Triangle")

choice = int(input("Enter your choice (1/2/3/4): "))

if choice == 1:
    side = float(input("Enter the length of a side of the square: "))
    print("Area of the square:", calculate_square_area(side))
elif choice == 2:
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the width of the rectangle: "))
    print("Area of the rectangle:", calculate_rectangle_area(length, width))
elif choice == 3:
    radius = float(input("Enter the radius of the circle: "))
    print("Area of the circle:", calculate_circle_area(radius))
elif choice == 4:
    base = float(input("Enter the base length of the triangle: "))
    height = float(input("Enter the height of the triangle: "))
    print("Area of the triangle:", calculate_triangle_area(base, height))
else:
    print("Invalid choice! Please enter a valid choice (1/2/3/4).")

6. Create a Python program that checks whether a given string is a palindrome or not. A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward.

In [ ]:
def is_palindrome(string):
    string = string.lower().replace(" ", "")
    return string == string[::-1]

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

PLACEMENT LAB-1
1. Write a program to create a new string made of an input string’s first, middle, and last character.
	Eg:  str1= ”PRADEEP”
	Output: PDP

In [ ]:
str1=input()
a=len(str1)//2
print(str1[0]+str1[a]+str1[-1])

PRADEEP
PDP

2. Write a program to create a new string made of the middle three characters of an input string.
	Eg: str1= “PRADEEP”                     
	Output: ADE

In [ ]:
str1=input()
a=len(str1)//2
print(str1[a-1]+str1[a]+str1[a+1])

PRADEEP
ADE

3. Given two strings, str1 and str2. Write a program to create a new string str3 by appending str2 in the middle of str1.
	Eg: str1= ”STAR”                                str2= “SUPER”
	Output:   STSUPERAR

In [ ]:
str1=input()
str2=input()
print(str1[:2]+str2+str1[2:])

STAR
SUPER
STSUPERAR

4. Given two strings, str1 and str2, write a program to return a new string made of str1 and str2’s first, middle, and last characters.
	Eg: str1= “LEO”                                  str2= “DAS”
	Output: LDEAOS

In [ ]:
str1=input()
str2=input()
n=len(str1)//2
a=len(str2)//2
print(str1[0]+str2[0]+str1[n]+str2[a]+str1[-1]+str2[-1])

LEO
DAS
LDEAOS

5. Given two strings, str1 and str2, write a program to return a new string made of str1 and str2’s in reverse order.
	Eg: str1= ”SUPER”                                         str2= ”STAR”
	Output: RATSREPUS

In [ ]:
str1=input()
str2=input()
str3=str1+str2
print(str3[::-1])

SUPER
STAR
RATSREPUS

6. Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
Outcome:
Total counts of chars, digits, and symbols
Chars = 8
Digits = 3
Symbol = 4

In [ ]:
str1=input()
count=0
count1=0
count2=0
for i in str1:
  if i.isalpha():
    count+=1
  elif i.isdigit():
    count1+=1
  else:
    count2+=1
print("Total counts of chars,digits and symbols:")
print("Chars =",count)
print("Digits=",count1)
print("Symbols=",count2)

P@#yn26at^&i5ve
Total counts of chars,digits and symbols:
Chars = 8
Digits= 3
Symbols= 4

7. Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
s1 = "Abc"
s2 = "Xyz"
Output:
AzbycX

In [ ]:
str1=input()
str2=input()
str3=str1[0]+str2[-1]+str1[1]+str2[-2]+str1[2:]+str2[:-2]
print(str3)

Abc
Xyz
AzbycX

1. Write a program to calculate Employee’s bonus calculation for the details given below
Experience	Bonus (%)
More than 8 years	10 %
More than 4 years	7%
More than 2 years	4%

In [ ]:
experience = int(input("Enter the years of experience: "))

if experience > 8:
    bonus_percentage = 10
elif experience > 4:
    bonus_percentage = 7
elif experience > 2:
    bonus_percentage = 4
else:
    bonus_percentage = 0

salary = float(input("Enter the employee's salary: "))
bonus_amount = (bonus_percentage / 100) * salary

print("Employee's bonus:",bonus_amount)

Enter the years of experience: 12
Enter the employee's salary: 100000
Employee's bonus: 10000.0

2.Write a program to calculate the electricity bill (accept number of units from user) according to the following criteria:
Units	Price
First 100 units	No charge
Next 100 units	Rs.5 per unit
After 200 units	Rs.10 per unit

(For example, if input unit is 350, then the total bill amount is Rs.2000)

In [ ]:
a=int(input())
if a<=100:
    print("No charge")
elif(a>100 and a<=200):
    print((a-100)*5)
elif a>200:
    b=500+(a-200)*10
    print(b)

350
2000

3. Accept the marked price from the user and calculate the Net amount as (Marked Price - Discount) to payaccording to following criteria:
Marked Price	Discount
>10000	20%
>7000 and <=10000	15%
<=7000	10%

In [ ]:
marked_price = float(input("Enter the marked price: "))

if marked_price > 10000:
    discount_percentage = 20
elif marked_price > 7000:
    discount_percentage = 15
else:
    discount_percentage = 10

discount_amount = (discount_percentage / 100) * marked_price
net_amount = marked_price - discount_amount

print("Net amount to pay:",net_amount)

Enter the marked price: 2334.12
Net amount to pay: 2100.708

1. Write a program to find the given number is prime number or not.

In [ ]:
num=int(input())
flag=False
if num == 1:
    print(num,"is not a prime number")
elif num > 1:
    for i in range(2,num):
        if(num%i)==0:
            flag=True
            break
    if flag:
        print(num,"is not a prime number")
    else:
        print(num,"is a prime number")

10
10 is not a prime number

2. Write a program to display all prime numbers within a range.

In [ ]:
def generate_primes(n):
    primes = []
    for num in range(2, n+1):
        if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
            primes.append(num)
    return primes

n = int(input("Enter the value of n: "))
print("Prime numbers up to", n, "are:", generate_primes(n))

Enter the value of n: 10
Prime numbers up to 10 are: [2, 3, 5, 7]

3. Write a program to reverse a number? Example: 3256 will be printed as 	6523 (reverse order)

In [ ]:
number = int(input("Enter a number: "))
reversed_number = int(str(number)[::-1])
print("Reversed number:", reversed_number)

Enter a number: 12345
Reversed number: 54321

4. Write a program to print the following pattern
		                *
                 *     *
              *     *     *
           *    *     *     *
         *    *    *     *    *

In [ ]:

for i in range(5):
    for j in range(5 - i - 1):
        print(" ", end="")
    for k in range( i + 1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

5.  Write a program to print the Fibonacci Series up to 10 terms.

In [ ]:
n=int(input("Enter a number:"))
t1=0
t2=1
t3=t1+t2
print(t1,t2,end=" ")
count=0
while count<n:
  print(" ",t3 ,end=" ")
  t1=t2
  t2=t3
  t3=t1+t2
  count+=1
print()

Enter a number:10
0 1   1   2   3   5   8   13   21   34   55   89

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
odd=[]
odds=[]
eve=[]
even=[]
for i in range(11):
    if (i%2==0):
        eve.append(i)
        even.append(i*i)
    else:
        odd.append(i)
        odds.append(i*i)
print("The even numbers are:",eve)
print("The squares of the even numbers are:",even)
print("The odd numbers are:",odd)
print("The squares of the odd numbers are:",odds)

The even numbers are: [0, 2, 4, 6, 8, 10]
The squares of the even numbers are: [0, 4, 16, 36, 64, 100]
The odd numbers are: [1, 3, 5, 7, 9]
The squares of the odd numbers are: [1, 9, 25, 49, 81]

In [ ]:
list1=[2,4,8,7,34,24,9]
a=len(list1)
mini=list1[0]
maxi=list1[0]
for i in list1:
  if (maxi< i):
    maxi=i
  if(mini>i):
    mini=i
print("The maximum value is:",maxi)
print("The minimum value is: ",mini)

The maximum value is: 34
The minimum value is:  2

In [ ]:
list1=[2,4,8,7,34,24,9]
a=len(list1)
mini=list1[0]
maxi=list1[0]
for i in list1:
  if (maxi< i):
    maxi=i
  if(mini>i):
    mini=i
print("BEFORE REMOVAL:",list1)
print("The first maximum value is:",maxi)
print("The first minimum value is: ",mini)
list1.remove(maxi)
list1.remove(mini)
print("AFTER REMOVAL",list1)
ma=list1[0]
mi=list1[0]
for j in list1:
  if(ma < j):
    ma=j
  if(mi > j):
    mi=j
print("The second maximum value is:",ma)
print("The second minimum value is: ",mi)

BEFORE REMOVAL: [2, 4, 8, 7, 34, 24, 9]
The first maximum value is: 34
The first minimum value is:  2
AFTER REMOVAL [4, 8, 7, 24, 9]
The second maximum value is: 24
The second minimum value is:  4

In [ ]:
 a= [45,67,83,24,55,87,77,34]
 b=a.index(55)
 print(b)

4

In [ ]:
def indian(rupee):
  dollar=rupee*0.012
  print("India (Rupee) to US (Dollar) conversion is:",dollar)

def celsius(c):
  fahre=c*(9/5)+32
  print("Celsius to Fahrenheit:",fahre)
def bami(weight,hei):
  bmi=weight/(hei*hei)
  print("BMI Calculation:",bmi)
def simple(p,r,t):
  inter=(p*r*t)/100
  print("Simple Interest Calculation:",inter)

rupee=int(input("Enter the rupees:"))
c=float(input("Enter celsius"))
weight=int(input("Enter weight"))
hei=int(input("Enter height"))
p=int(input("p"))
r=int(input("r"))
t=int(input("t"))

indian(rupee)
celsius(c)
bami(weight,hei)
simple(p,r,t)

Enter the rupees:12
Enter celsius4235.7
Enter weight45
Enter height78
p7
r8
t5
India (Rupee) to US (Dollar) conversion is: 0.14400000000000002
Celsius to Fahrenheit: 7656.26
BMI Calculation: 0.0073964497041420114
Simple Interest Calculation: 2.8

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
for i in range(1):
  res={keys[0]:values[0],keys[1]:values[1],keys[2]:values[2]}
  print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
T=[4,5,6,4,6,7,4,2,4,8,7]
max = 0
R = T[0]
for i in T:
    fre = T.count(i)
    if fre > max:
        max = fre
        R = i
print(R)

In [ ]:
lst = [5, 3, 7, 9, 8, 4, 2]

n = len(lst)
for i in range(n):
    for j in range(0, n-i-1):
        if lst[j] > lst[j+1]:
            lst[j], lst[j+1] = lst[j+1], lst[j]

print("Ascending Order:", lst)

for i in range(n):
    for j in range(0, n-i-1):
        if lst[j] < lst[j+1]:
            lst[j], lst[j+1] = lst[j+1], lst[j]

print("Descending Order:", lst)

Ascending Order: [2, 3, 4, 5, 7, 8, 9]
Descending Order: [9, 8, 7, 5, 4, 3, 2]

In [ ]:
import random

class Voter:
    def __init__(self, name):
        self.name = name
        self.vote = None

class Candidate:
    def __init__(self, name):
        self.name = name
        self.votes = 0

voter_names = ["Voter1", "Voter2", "Voter3", "Voter4", "Voter5", "Voter6", "Voter7", "Voter8", "Voter9", "Voter10"]

voters = [Voter(name) for name in voter_names]

candidates = [Candidate("A"), Candidate("B"), Candidate("C")]

for voter in voters:
    voter.vote = random.choice(candidates)

for voter in voters:
    voter.vote.votes += 1

winner = max(candidates, key=lambda x: x.votes)
runner = min(candidates, key=lambda x: x.votes)

print("Winner:", winner.name)
print("Runner:", runner.name)

print("Voters who voted for the winner:")
for voter in voters:
    if voter.vote == winner:
        print(voter.name)

print("Voters who voted for the runner:")
for voter in voters:
    if voter.vote == runner:
        print(voter.name)

Winner: C
Runner: A
Voters who voted for the winner:
Voter2
Voter4
Voter5
Voter6
Voter10
Voters who voted for the runner:
Voter8

In [ ]:
input_list = [0, 1, 0, 1, 1, 0, 1, 0, 1, 0]

sorted_list = sorted(input_list)

print(sorted_list)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]